---

- name: write /etc/apt/sources.list
  copy:
    src: files/etc/apt/sources.list
    dest: /etc/apt/sources.list
  notify: 'update apt cache and upgrade packages'

- name: install packages
  package:
    name: "{{ item }}"
    state: present
  with_items: 
    - "{{ basicsettings_packages }}"

- name: Disable IPv6
  sysctl:
    name: net.ipv6.conf.all.disable_ipv6
    value: "1"
    sysctl_set: yes
    state: present
    reload: yes
  when: basicsettings_disable_ipv6
